.app {
  background: #209cee;
  height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.article-list {
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 400px;
  padding: 5px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}
.moreInfo {
  padding: 15px;
  border: 1px solid black; 
  background: #CCC;

}
